<a href="https://colab.research.google.com/github/aninditako/nyoba/blob/main/indonesia_healthcare_and_pop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd 
import numpy as np # numerik
import seaborn as sns

from sklearn.preprocessing import MinMaxScaler 
import statsmodels.api as sm

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df = pd.read_excel('indonesian_healthcare_and_pop.xlsx')
df.head()

   Unnamed: 0  year  population   urban  male_u5  female_u5  male_ex  female_ex
0           0  1960    87751068  14.586    236.9      208.7   44.475     49.009
1           1  1961    90098394  14.821    230.7      203.2   45.098     49.604
2           2  1962    92518377  15.058    224.8      197.9   45.713     50.185
3           3  1963    95015297  15.299    218.9      192.6   46.322     50.752
4           4  1964    97596733  15.543    213.1      187.2   46.927     51.306